#root {
  margin: 0 auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 20%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow: auto;
}

.footer {
  flex: 0 0 20%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/* ProductCarousel */
.productCard {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 300px;
  cursor: pointer;
}

.productCard img {
  width: 100%;
  height: auto;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.productCard h3 {
  margin: 10px 0;
  font-size: 18px;
}

.productCard p {
  color: #666;
}
